<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userInfo">
	<select id="printUserAll" resultType="egovframework.jtLunch.admin.owner.DTO.UserInfoDTO">
		SELECT 
			USER_ID,
			USER_PW,
			USER_NAME,
			USER_TEL,
			USER_AUTH,
			ENABLED,
			ACCESS_DATE,
			JOIN_DATE,
			DEPARTMENT,
			TEAM
		FROM
			jt_users
	</select>
</mapper>

